.pag{
    width: 100%;
    height: 75vh;
}
.cakh{
    margin-top: 40px;
    margin-left: 70px;
}


#texttt{
    padding-top: 180px;
}


.ccc{
    padding: 30px;
    border: none;
}
.carmo2{
    height: 80%;
}

